[profile.default]
src = "contracts"
out = "artifacts"
libs = ["node_modules", "lib"]
remappings = [
    "@openzeppelin-4.6/=node_modules/@openzeppelin-4.6/",
    "@openzeppelin/=node_modules/@openzeppelin/",
    "hardhat/=node_modules/hardhat/",
]
fs_permissions = [{access="read",path="./v3.arbitrum-one.json"}, {access="read",path="./artifacts"}, {access="read",path="./script/merkleConfig.json"}, {access="write",path="./script/merkleProofs.json"}]

[rpc_endpoints]
arbitrum = "${ARBITRUM_RPC_URL}"

[fuzz]
runs = 50
seed='0x5792875'
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
